<%  
    let name = "NullDev";
    let info = "Where AI comes to live. Machine learning, Artificial Intelligence and Programming projects";
    let color = "#48B372";

    let domain = "nulldev.org";
    let protocol = "https";
%>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <title><%= name %> | <%= routeTitle %></title>
        <meta name="title" content="<%= name %> | <%= routeTitle %>">
        <meta name="description" content="<%= info %>">
        <meta name="application-name" content="<%= name %> CMS" />
        <meta name="author" content="<%= name %>" />
        
        <meta name="msapplication-TileColor" content="<%= color %>">
        <meta name="msapplication-TileImage" content="/img/favicon.png">
        <meta name="theme-color" content="<%= color %>">

        <meta itemprop="name" content="<%= name %>">
        <meta itemprop="description" content="<%= info %>">

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="<%= name %>"/>
        <meta name="twitter:description" content="<%= info %>"/>

        <meta property="og:title" content="<%= name %>">
        <meta property="og:description" content="<%= info %>">
        <meta property="og:site_name" content="<%= name %>"/>

        <link rel="canonical" href="<%= protocol %>://<%= domain %><%= route %>" />
